<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chatapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/applogo_icon"
        android:label="@string/Konnect"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ActionBar.Transparent">
        <activity android:name=".view.activity.ChatsActivity" android:theme="@style/AppThemeMain"></activity>
        <activity android:name=".view.activity.FABActivity" android:theme="@style/AppThemeMain" />
        <activity android:name=".view.activity.SettingsActivity" />
        <activity android:name=".view.activity.ResetPasswordActivity" />
        <activity android:name=".view.activity.LoginActivity" />
        <activity android:name=".view.activity.SignupActivity" />
        <activity android:name=".OnBoardingActivity.OnBoardingActivity" />
        <activity
            android:name=".SplashScreen.SplashScreenActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppThemeMain" />
    </application>

</manifest>